#settings {
    /* position: fixed;
        bottom: 20px;
        left: 20px; */
}

#settings-button {
    cursor: pointer;
    margin-left: 0.2rem;
    background: #fff;
    border: none;
    position: fixed;
    bottom: 20px;
    left: 22px;
}

#settings-button>i:first-child {
    font-size: 1.8em;
}

#settings-sidebar {
    z-index: 1;
    position: fixed;
    background: #4becf4;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 20px;
    width: 180px;
    border-right: 2px solid black;
}

#settings-sidebar>h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#settings-sidebar>h2>i {
    cursor: pointer;
}

#settings-sidebar>.settings-sidebar-body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#settings-sidebar>.settings-sidebar-body>button {
    margin: 5px 0;
    background: white;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px;
    font-family: inherit;
}

/* instruction css*/

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 2;
    cursor: pointer;
    padding: 50px 10vw;
    box-sizing: border-box;
}

.message_close {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 576px) {
    #overlay {
        font-size: 0.9em;
    }
}

kbd{
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}