#ctxmenu {
    position: fixed;
    background: white;
    color: black;
    cursor: pointer;
    border: 0.18rem black solid;
    border-radius: 2px;
    min-width: 200px;
    width: fit-content;
}

#ctxmenu > h4{
    margin: 0;
    padding: 0.5rem 1rem;
    border-bottom: 0.18rem solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#ctxmenu > p{
    padding: 0.25rem 1rem;
    margin: 0;
}

#ctxmenu > p:hover {
    color: ghostwhite
}  

#ctxmenu > p:nth-child(2):hover{
    background: rgb(244, 75, 89);
}
#ctxmenu>p:nth-child(3):hover {
    background: rgb(34, 182, 21);
}
#ctxmenu>p:nth-child(4):hover {
    background: #4b6af4;
}


