/* this will be usefull for later when I need to expand */

#exp-btn {
    top: 0;
    margin-top: 10px;
}

#shrk-btn {
    top: 0;
    margin-top: 115px;
    margin-right: 90px;
    height: 30px;
    width: 30px;
}

#shrk-btn > i{
    font-size: 1.2em;
}



#dwn-btn {
    bottom: 0;
    margin-bottom: 10px;
}

.item-body-textarea>.textarea-overlay> * {
    visibility: visible;
}

.item-body-textarea > .textarea-overlay > button {
    position: absolute;
    right: 0;
    margin-right: 10px;
    height: 25px;
    width: 25px;
    border: none;
    cursor: pointer;
    transition: border-radius 0.2s ease;
}

.item-body-textarea > .textarea-overlay > button:hover {
    background-color: rgb(215, 237, 255);
    border-radius: 5px;
}

.hidden{
    visibility: hidden;
}

/* experiment */
.show{
    position: fixed;
    visibility: visible;
    width: 80%;
    height: 85%;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: white;
    border: 2px solid black;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    z-index: 2;
    cursor: pointer;
    padding: 20px 80px 50px 80px;
    margin-bottom: 100px;
    box-sizing: border-box;
}

.btn-hidden{
    display: none;
}

.dwn-btn-big{
    margin-bottom: 65px !important;
    margin-right: 90px !important;
    height: 30px !important;
    width: 30px !important;
}

.dwn-btn-big > i{
    font-size: 1.2em !important;
}

.textarea-overlay-title{
    display: none;
}
